@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap'); */

*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	font-weight: var(--fw-regular);
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Josefin Sans', sans-serif; */
	background-color: white;
	color: #53565a;
}

h1 {
	font-size: var(--text-3xl);
}
h2 {
	font-size: var(--text-2xl);
}
h3 {
	font-size: var(--text-xl);
}
h4 {
	font-size: var(--text-lg);
}
h5 {
	font-size: var(--text-md);
}
h6 {
	font-size: var(--text-sm);
}
p {
	font-size: var(--text-base);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
}
h1,
h2,
h3 {
	font-weight: var(--fw-semibold);
}

/* Overlay */
.overlay {
	background-color: rgba(0, 0, 0, 0.493);
	width: 100%;
	height: 100%;
	position: absolute;
}
.overlay--fade {
	background: rgb(0, 0, 0);
	background: linear-gradient(87deg, rgb(0 0 0) -5%, rgb(0 0 0 / 12%) 20%);
}

/* Containers */
.container {
	width: 100%;
	display: block;
	padding: 1.5rem;
	margin: 0 auto;
}

.text--title {
	font-size: 55px;
}

.container--spaced {
	padding: 4rem 3rem;
}

.container--lg {
	max-width: 1400px;
	width: 100%;
}

.container--md {
	max-width: 1200px;
	width: 100%;
}

.container--sm {
	max-width: 900px;
}

/* Form Group */
.form-group {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
.form-group__subgroup {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Input */
.input-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 7px;
	font-size: 14px;
}
.input-wrapper input,
.input-wrapper select {
	outline: none;
	border: 1px solid var(--color-gray-s1);
	width: 100%;
	padding: 12px 12px;
	font-size: 12px;
	transition: box-shadow 0.15s ease-out;
}
.input-wrapper select:focus, .input-wrapper input:focus {
	border: 1px solid black;
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
}
.input-wrapper.large {
	gap: 10px;
	font-size: 16px;
}
.input-wrapper.large input,
.input-wrapper.large select {
	padding: 16px 12px;
	font-size: 16px;
}
.input-wrapper.large label {
	font-size: 14px;
}

.text-terms {
	font-size: 12px;
	color: #969696;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 3rem 10px;
	}
	p {
		font-size: var(--text-sm);
	}
	.text--title {
		font-size: 40px;
	}
}
